.ant-pagination .ant-pagination-item-active {
  background-color: var(--color-primary-base) !important;
}

.ant-pagination .ant-pagination-item {
  background-color: transparent;
}

.ant-btn-variant-solid {
  background: #f68b1e !important;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):active,
.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):active,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: #f68b1e !important;
  color: #f68b1e !important;
}

// .ant-table-fixed {
//   table-layout: fixed;
// }

// .ant-table-tbody > tr > td {
//   word-wrap: break-word;
//   word-break: break-all;
// }